@media (width:320px){
  html{
    font-size:12.8px!important
  }
}
@media(min-width:321px) and (max-width:360px){
  html{
    font-size:14.4px!important
  }
}
@media(min-width:361px) and (max-width:375px){
  html{
    font-size:15px!important
  }
}
@media(min-width:376px) and (max-width:414px){
  html{
    font-size:16.56px!important
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}  
.fl{
  float:left;
}
.fr{
  float:right;
}
.pore{
  position:relative;
}
.dis-flex{
  display:flex;
  justify-content: space-between;
}

.size12{
  font-size:0.8rem;
}
.size20{
  font-size:1.8rem;
}